@tailwind base;
@tailwind components;
@tailwind utilities;


@media (prefers-color-scheme: dark) {
  :root {
    height: "100%";
    background-color: "rgb(28 28 28)";
    background: "rgb(28 28 28)";
  }
}

body {
  height: 100%;
  background-color: "rgb(28 28 28)";
  background: "rgb(28 28 28)";
}
